In [1]:
print ("Hello")

Hello

In [2]:
print (1<2)
print (1>2)
print (1<=2)
print (1>=2)
print (1==2)
print (1!=2)

True
False
True
False
False
True

In [2]:
import Pythonproj

Hello

In [3]:
a=int(input("Enter value of a"))
b=int(input("Enter value of b"))

In [4]:
print ("guvi " == "guvi")

False

In [7]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

18
6
72
2.0
0
2
2985984

In [16]:
1 or 1 or 1

1

In [17]:
1 or 1 and 0

1

In [19]:
0 and not 1

0

In [5]:
if True:
    print("all good")

all good

In [16]:
try:
    a=int(input("Enter the marks"))
    if a > 40 and a <= 100:
        print("pass")

    elif a < 40 and a >= 0:
        print("failed")

    else:
        print("this is an an inappropiate input")

except:
    print("incorrect input")

this is an an inappropiate input

In [13]:
a=int(input("Enter the marks"))
if a > 40 and a <= 100:
    print("pass")

else:
    if a < 40 and a > 0:
        print("failed")

print("this is an an inappropiate input")

failed
this is an an inappropiate input

In [20]:
b = int(input())
match b:
    case 1:
        print("1")
    case 2:
        print("2")
    case other:
        print("something else")

something else

In [37]:
balance =10000
card = input("enter your card number")

if card == card:
    print("Valid card")
    pin = input("enter the pin")
    if pin == "1111":
        print("access granted")
        ttype = input("Enter W or D")
        if ttype == "W":
            a= int(input("Enter the withdrawl amount"))
            if a >= balance:
                print("Invalid value")
            else:
                balance = balance - a
                print("balance is", balance)
        elif ttype == "D":
            c= int(input("Enter the deposit amount"))
            balance = balance + c
            print("balance is", balance)
        else:
            print("invalid input")
    else:
        print("incorrect pin")
else:
    print("Invalid card number")

Valid card
access granted
balance is 7655

In [34]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [38]:
life = ["finance", "health", "overthinking", "studies"]
for problems in life:
    print(problems +" is a problem")

finance is a problem
health is a problem
overthinking is a problem
studies is a problem

In [39]:
for i in "Sachitananda Jena":
    print(i)

S
a
c
h
i
t
a
n
a
n
d
a

J
e
n
a

In [43]:
a,b =[10,20]
print(a)

10

In [48]:
L1 = [1,2,3,4,5]
L2 = ['a','b','c','d','e','f']

c = zip(L1,L2)
print(*c)

for i,j in c:
    print(i,j)

(1, 'a') (2, 'b') (3, 'c') (4, 'd') (5, 'e')

In [5]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [6]:
for i in range(10):
    if i == 5:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for j in range(2):
    for i in range(10):
        if i==5:
            break
        print(i,j)

0 0
1 0
2 0
3 0
4 0
0 1
1 1
2 1
3 1
4 1

In [18]:

for i in range (100):
    if i % 10 == 0:
        break
    elif i % 10 !=0:
        i =i+1
print(i)

0

In [19]:
for j in range (1):
    for i in range (101):
        if j %10 ==0:
            continue
        print(j)

In [48]:
for i in ["rajni","sharuk", "alia"]:
    for j in ["kanth","khan", "bhatt"]:

SyntaxError: incomplete input (1358144736.py, line 2)

In [36]:
a =0
while a <10:
    a=a+1
    print(a)

1
2
3
4
5
6
7
8
9
10

In [47]:
a =0
b =0
while a <5:
    while b<5:    
        print(a,b)
        b=b+1
    a=a+1

0 0
0 1
0 2
0 3
0 4

In [55]:
for i in ["rajni","sharuk", "alia"]:
    for j in ["kanth","khan", "bhatt"]:
        a = "rajni" + "kanth"
        b = "sharuk" + "khan"
        c = "alia" + "bhatt"
print(a,b,c)

rajnikanth sharukkhan aliabhatt

In [69]:
a = 1 +2j
#print(a)
type(a)

complex

In [16]:
import math
a = float(input())
b = (math.sqrt(3)*a*a)/4
print((b))

173.2050807568877

In [18]:
month = int(input())
if(month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12):
	print("31")
elif(month == 2):
	print("28")
else:
	print("30")

30

In [32]:
a = [1,"Test",3.5,["A",1.2,6]]
print(a)
#print(a[1])
a[1]="My Name"
print(a)
print(len(a))
print(a[3][1])
print(a[[0,1,3]])

[1, 'Test', 3.5, ['A', 1.2, 6]]
[1, 'My Name', 3.5, ['A', 1.2, 6]]
4
1.2

TypeError: list indices must be integers or slices, not list

In [19]:
list1 = [1,3,5,7,9,2,4,6,8,10]
list1 [0:5]
print(list1[2:])
print(list1[:5])
print(list1[::2])
print(list1[::3])
print(list1[1::2])
print(list1[::-1])
print(list1[::-2])
print(list1[:-1])

[5, 7, 9, 2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[1, 5, 9, 4, 8]
[1, 7, 4, 10]
[3, 7, 2, 6, 10]
[10, 8, 6, 4, 2, 9, 7, 5, 3, 1]
[10, 6, 2, 7, 3]
[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [36]:
b = [1]
b.append(2)
print(b)
b.append(3)
print(b)
b.append(['a','b','c'])
print(b)
c=b.pop(2)
print(c)
print(b)
#b.remove(2)
print(b)
del b[0],b[1]
print(b)

[1, 2]
[1, 2, 3]
[1, 2, 3, ['a', 'b', 'c']]
3
[1, 2, ['a', 'b', 'c']]
[1, 2, ['a', 'b', 'c']]
[2]

In [51]:
b =[1,True,1.0]
b.insert(1,"A")
print(b)
b.extend([1,2,3])
print(b)
b.append([1,2,3])
print(b)
print(b.count("Guvi"))
print(b.index(1))
b.reverse()
print(b)

[1, 'A', True, 1.0]
[1, 'A', True, 1.0, 1, 2, 3]
[1, 'A', True, 1.0, 1, 2, 3, [1, 2, 3]]
0
0
[[1, 2, 3], 3, 2, 1, 1.0, True, 'A', 1]

In [52]:
a = [11,2,23,45,51,33,65,98,100]
a.sort()
print(a)

[2, 11, 23, 33, 45, 51, 65, 98, 100]

In [55]:
a = (1,3,5,7,9,2,4,6,8,10)
print(a)
print(a[2])
a[2]=11
print(a[2])

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)
5

TypeError: 'tuple' object does not support item assignment

In [63]:
#x,y,z =(1,2,3)
#print(x,y,z)
s = "Car"
s.startswith("c")
s.endswith("r")

True

In [66]:
phone = [["name","1234"],["name1","3456"],["name2","6789"]]
phone.append(["nirmal","67541"])
print(phone)

[['name', '1234'], ['name1', '3456'], ['name2', '6789'], ['nirmal', '67541']]

In [1]:
import requests
import json
api_key = "1659cf5477bd0a121c844691d4bd9e81"
city=input()
url="https://api.openweathermap.org/data/2.5/weather?q=%s&appid=%s&units=metric"% (city, api_key)
#url = "https://api.openweathermap.org/data/2.5/onecall?lat=%s&lon=%s&appid=%s&units=metric" % (lat, lon, api_key)
response = requests.get(url)
data = json.loads(response.text)
#print(data)
print("the temperature in {} ".format(city)+str(data["main"]["temp"]))

the temperature in Chennai 30

In [2]:
a=int(input())
b=int(input())
for i in range(b):
    print(a)

10
10
10
10
10
10
10
10
10
10
10
10

In [1]:
import Bank as bnk 
a = bnk.account("ABC",56789,10000)
print(a.deposit(500))

Your updated balance is 10500

In [3]:
class account():
    def __init__(self,name,account_number,balance):
        self.name=name
        self.account_number=account_number
        self.balance=balance

    def deposit(self,amount):
        try:
            self.balance=self.balance + amount
            return "Your updated balance is "+str(self.balance)
        except:
            print("Invalid amount to be deposited")
    
    def withdrawl(self,amount):
        if self.balance >= amount:
            self.balance=self.balance - amount
            return "Your updated balance is "+str(self.balance)
        else:
            return False

    def transfer(self,account,amount):
        if self.withdraw(amount):
            account.deposit(amount)
        else:
            print("Unable to withdraw the amount")

In [4]:
sachin=account('Sachin',123,1500)
nirmal=account('Nirmal',345,1700)

print(sachin.deposit(10000000))
print(nirmal.deposit(20000000))

Your updated balance is 10001500
Your updated balance is 20001700

In [5]:
print(sachin.account_number)
print(sachin.withdrawl(10000000))

123
Your updated balance is 1500

In [6]:
sachin.transfer(nirmal,100)

AttributeError: 'account' object has no attribute 'withdraw'

In [7]:
print(sachin.balance)
print(nirmal.balance)

1500
20001700