In [26]:
txt = "hello, and welcome to my world."

x = txt.capitalize()
y=txt.casefold()
z=txt.center(200)
d=txt.count('and')
e=txt.encode()
t=txt.endswith('.')
g=txt.expandtabs(4)
h=txt.find('welcome')


print(h)

11

In [ ]:
# Immutable: Strings in Python are immutable, meaning once a string is created, the characters within it cannot be changed. Any operation that modifies a string will actually create a new string.

# Ordered Sequence of Characters: Strings are ordered sequences of characters, allowing you to access individual characters via indexing and perform slicing to obtain substrings.

# Support for Concatenation and Repetition: Strings can be concatenated using the + operator and repeated using the * operator, facilitating easy manipulation and combination of text.

# Rich Set of Methods: Python strings come with a rich set of built-in methods for transformation, searching, and case manipulation, among others, making string manipulation convenient and efficient.

# Format and Interpolation: Strings support format operations, allowing dynamic insertion of values into a string with the .format() method or f-strings (formatted string literals) introduced in Python 3.6, making it easier to create formatted strings.

In [21]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [24]:
pan='hello'
pan.expandtabs(5)

'hello'

In [32]:
txt = "Hello, welcome to my world."

print(txt.find("m"))
print(txt.index("m"))
print(txt.format())
print(txt)

SyntaxError: invalid syntax (167218260.py, line 5)

In [35]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
print(txt1)

My name is John, I'm 36

In [53]:
pan='         String1234 is the way life       '

print(pan.isalnum())
print(pan.isalpha())
print(pan.islower())
print(pan.isupper())
print(pan.isnumeric())
pan.upper()
pan.lower()
print(pan.lstrip())
print(pan.rstrip())
print(pan.strip())
print(pan.split())
print(pan.index('is'))
print(pan.find('is'))
print(pan.splitlines())
print(pan.)

False
False
False
False
False
String1234 is the way life
         String1234 is the way life
String1234 is the way life
['String1234', 'is', 'the', 'way', 'life']
20
20
['         String1234 is the way life       ']

In [58]:
a='pandian'
b='Boologa'

a.join(b)
a.partition('-')

('pandian', '', '')

In [62]:
txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)
x.

('I could eat bananas all day', '', '')

In [60]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [61]:
print(x)

('I could eat ', 'bananas', ' all day')

In [63]:
txt = "I could eat bananas all day"

In [84]:
txt.replace('I','am')
txt.removeprefix('I')
txt.rindex('l')
txt.splitlines()
txt.split()
# txt.splitlines()
txt.zfill(100)
print(txt)

I could eat bananas all day

In [85]:

txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [88]:
txt.lstrip()
print(x)

              banana

In [91]:
txt = "banana"

x = txt.zfill(20)

print(x)

00000000000000banana

In [92]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [97]:
pan='Boologa'

v=pan.maketrans('B','V')
print(v)
print(pan.translate(v))

{66: 86}
Voologa

In [98]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [99]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [117]:
txt = "hello my #name is Peter #I am 26 years old"

x = txt.split('#')

print(x)

['hello my ', 'name is Peter ', 'I am 26 years old']

In [114]:
txt = "Thank you for the music Welcome to the jungle"

x = txt.split()

print(x)

['Thank', 'you', 'for', 'the', 'music', 'Welcome', 'to', 'the', 'jungle']

In [119]:
x = abs(-7.25)
print(x)

7.25

In [120]:
x = abs(3+5j)
print(x)

5.830951894845301

In [121]:
x = compile('print(55)\nprint(88)', 'test', 'exec')
exec(x)

55
88

In [128]:
def myfunc(a, b):
  return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))

print(list(x))

['appleorange', 'bananalemon', 'cherrypineapple']

'pandianBoologa'